<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Magento Test Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="Smoke Tests">
        <classes>
            <class name="tests.SignupTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.CheckoutTest"/>
            <class name="tests.CartSummaryTest"/>
            <class name="tests.SearchSuggestionValidationTest"/>
            <class name="tests.OrderConfirmationTest"/>
            
        </classes>
    </test> 
</suite>
